<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <h2>The latest mars news is:</h2>
    <h3>{{ mars.news_title }}</h3>
    <p>{{ mars.news_p }}</p>
    <h4>The Current Weather on Mars is:</h4>
    <p>{{mars.mars_weather}}</p>
    {{mars.clean_mars_html|safe}}
    <img src="{{ mars.featured_image_url }}" alt="Mars">


    {% for hemisphere in mars.hemisphere_image_urls %}
       <div class="col-md-6">
           <div class="thumbnail">

           <!-- if images is False/None/non-existent, then default to error message -->
           <img src="{{hemisphere.img_urls}}"
               alt="...">
           <div class="caption">
               <h3>{{hemisphere.title}}</h3>

           </div>
           </div>
       </div>
     {% endfor %}


  </div>
  </div>
</body>

</html>
